
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons {
  padding-right: 90px;
}

.main-title {
  font-size: 2.5em;
}

.logo {
  padding-left: 10px;
  padding-top: 5px;
}

.about {
  padding-top: 15px;
  padding-left: 10px;
}

.second-title {
  padding-top: 10px;
  font-size: 25px;
}

.quote {
  padding-top: 10px;
  font-size: 20px;
}

.second-quote {
  padding-top: 40px;
}


.need-help-post {
  margin-left: 350px;

  width: 50%;
  margin-bottom: 25px;
  padding-bottom: 10px;
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 10px;
 background-color: #FECFD8;
}

.volunteer-post {
  margin-left: 350px;
  /* color: green; */

  width: 50%;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  /* color: #99ECDF; */
  background-color: #CBF5EE;
}

.homepage-title {
  padding-bottom: 50px;
}

.about-title {
 padding-bottom: 30px;
}

.form {
   
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }


.field h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 2em;
}

.sign-button {
  margin-top: 15px;
}

.field {
  padding-top: 150px;
}

.signup-form {

  background-color: #13D1B2;
 
}

.profile-page {
  padding-top: 70px;
}

.profile-info {
  text-align: left;
}

/* .profile {
  border-radius: 15px 50px 30px 5px;
  background-color: lightblue;
} */

.profileupdate {
  padding-top: 30px;
}

.post-button {
  padding-top: 10px;
}

.post-list {
  padding-top: 30px;
  margin-bottom: 50px;
}

.post-title {
  padding-top: 30px;
}

.comment-buttons {
  display: flex;
  padding-top: 25px;
  padding-bottom: 10px;
  column-gap: 20px;
  align-items: row;
  padding-left: 170px;
  
  
}

.comment-box {
  padding-top: 10px;
}

.post-text {
  padding-top: 10px;
  text-align: left;

}

.submit-comment {
  padding-bottom: 20px;
}


.submit-edit {
margin-top: 10px;
}
